

- var movies = utils.toSortedMovieList(actorsAndMovies);

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Hollywood Age Gap
        link(rel='dns-prefetch', href='https://use.typekit.net')
        link(rel='dns-prefetch', href='https://p.typekit.net')
        link(rel='dns-prefetch', href='https://ping.typekit.net')
        meta(name='description', content='The age difference in years between movie love interests.')

        meta(property='og:type',  content='website')
        meta(name='twitter:card', content='summary')
        meta(content='@lynnandtonic', name='twitter:site')
        meta(content='@lynnandtonic', name='twitter:creator')
        meta(content='Hollywood Age Gap', name='twitter:title', property='og:title')
        meta(content='The age difference in years between movie love interests.', name='twitter:description', property='og:description')
        meta(content='https://hollywoodagegap.com/facebook-hollywood-age-gap.png', property='og:image')
        meta(content='https://hollywoodagegap.com/hollywood-age-gap-thumb.png', name='twitter:image')
        meta(content='https://hollywoodagegap.com', property='og:url')
        meta(content='https://hollywoodagegap.com', property='twitter:url')
        meta(property='og:image:width', content='1200')
        meta(property='og:image:height', content='630')

        // inline build/app.css
        link(rel='stylesheet', href='/app.css', inline)
        script.
            (function(d) {
                var config = {
                            kitId: 'whf3jqc',
                            scriptTimeout: 3000,
                            async: true
                        },
                        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);

    body#top
        include SearchView.pug
        ul.movie-list
            each movie in movies
                li.card(class=movie.isHidden ? 'hidden' : '')
                    include MovieView.pug
            li.card.card-contribute
                include ContributeItemView.pug
        .contribute.overlay.hidden
            include ContributeView.pug

        // inline build/app.js
        script(src='app.js', inline)

        script(data-goatcounter="https://hollywoodagegap.goatcounter.com/count"
        async src="//gc.zgo.at/count.js")

        script.
            // Because this page is so large, browsers will load chunks of the list of cards at a time.
            // Each chunk will cause a reflow/repaint which leads to a ton of jank.
            // I'm forcing all elements after the first 60 to be hidden so that loading them doesn't cause jank.
            // Instead, we eat the costly repaint once at the end of the document load in this script.
            var raf = window.requestAnimationFrame || window.setTimeout;
            raf(function() {
                var hiddenElements = document.querySelectorAll('.card.hidden');
                for( var i = 0; i < hiddenElements.length; i++) {
                    hiddenElements[i].classList.remove('hidden');
                }
            });
