- var years = movie.difference === 1 ? 'year' : 'years';
h2= movie.name
.meta
  .franchise= movie.franchise
  .director= movie.director
  .year= movie.year
.difference
  span= movie.difference
  span= years
.graph
  span
  span
  span
  span
  each actor in movie.relationship
    .marker(class=actor.gender, style='left: ' + Math.round((actor.age - 18) * 1.6129) + '%')
each actor in movie.relationship
  .actor(class=actor.gender)
    .age= actor.age
    .name= actor.name
.social-container
  -
    var text = 'In “' + movie.name + '” the age gap b/w ' + movie.relationship[0].name + ' and ' + movie.relationship[1].name + ' is ' + movie.difference + ' ' + years + '.';
    var url = 'https://hollywoodagegap.com';
    if ((text + ' ' + url).length > 140) {
      text = text.replace('between', 'b/w');
    }
    var tweetUrl = 'https://twitter.com/intent/tweet?url=' + url + '&text=' + text;
  a.twitter(href=tweetUrl) Share on Twitter
