h2= movie.name
.year= movie.year
.difference
  span #{ movie.difference }
  span years
.graph
  each actor in movie.relationship
    .marker(class=actor.gender, style='left: ' + actor.age + '%')
each actor in movie.relationship
  .actor(class=actor.gender)
    .age= actor.age
    .name= actor.name
.social-container
