- var dateStringOptions = { month: "long", day: "numeric", year: "numeric", };
- var years = movie.difference === 1 ? 'year' : 'years';
- var tmdbUrl = 'https://www.themoviedb.org/search/movie?query=' + encodeURIComponent(movie.name);
h2
  a(href=tmdbUrl target="_blank" rel="noopener")= movie.name
.meta
  .franchise= movie.franchise
  .director= movie.director
  .year= movie.year
.difference
  span= movie.difference
  span= years
.graph
  span
  span
  span
  span
  each actor in movie.relationship
    .marker(class=actor.gender, style='left: ' + Math.round((actor.age - 18) * 1.6129) + '%')
each actor in movie.relationship
  .actor(class=actor.gender, data-birthday=new Date(actor.birthDate).toLocaleDateString(undefined, dateStringOptions), title='Birthday: ' + new Date(actor.birthDate).toDateString())
    .age= actor.age
    .name= actor.name
      span(class='sr-only')=', '+ actor.gender
