h2= movie.name
.year= movie.year
.difference
  span #{ movie.difference }
  span years
.graph
  span
  span
  span
  span
  span
  span
  each actor in movie.relationship
    .marker(class=actor.gender, style='left: ' + Math.round((actor.age - 18) * 1.923) + '%')
each actor in movie.relationship
  .actor(class=actor.gender)
    .age= actor.age
    .name= actor.name
.social-container