- var years = movie.difference === 1 ? 'year' : 'years';
h2= movie.name
.meta
  .franchise= movie.franchise
  .director= movie.director
  .year= movie.year
.difference
  span= movie.difference
  span= years
.graph
  span
  span
  span
  span
  each actor in movie.relationship
    .marker(class=actor.gender, style='left: ' + Math.round((actor.age - 18) * 1.6129) + '%')
each actor in movie.relationship
  .actor(class=actor.gender)
    .age= actor.age
    .name= actor.name
      span(class='sr-only')=', '+ actor.gender
