h2= movie.name
.year= movie.year
.difference
  span #{ movie.difference }
  span years
.graph
  span
  span
  span
  span
  each actor in movie.relationship
    .marker(class=actor.gender, style='left: ' + Math.round((actor.age - 18) * 1.6129) + '%')
each actor in movie.relationship
  .actor(class=actor.gender)
    .age= actor.age
    .name= actor.name
.social-container
  a(href=url, class='twitter') Share on Twitter

  //- TODO: hook up tweets to tweet out the content of each card
  //- Clicking would launch new browser popup window that would prefill tweet with:
  //- In “Shopgirl” the age difference between Steve Martin and Claire Danes is 34 years. http://hollywoodagegap.com